<!-- AUTHOR: Nupur Shah
    Student details page
-->
<table class="cs-container cs-table cs-content">
    <caption class="cs-container cap-heading">Student Survey Records</caption>
    <tr>
        <td>Student ID</td>
        <td></td>
    </tr>
    <tr>
        <td>Name</td>
        <td></td>
    </tr>
    <tr>
        <td>Street Address</td>
        <td></td>
    </tr>
    <tr>
        <td>City</td>
        <td></td>
    </tr>
    <tr>
        <td>State</td>
        <td></td>
    </tr>
    <tr>
        <td>Zip</td>
        <td></td>
    </tr>
    <tr>
        <td>Telephone</td>
        <td></td>
    </tr>
    <tr>
        <td>Email</td>
        <td></td>
    </tr>
    <tr>
        <td>URL</td>
        <td></td>
    </tr>		
    <tr>
        <td>Interested in the university because</td>
        <td></td>
    </tr>
    <tr>
        <td>Additional Comments</td>
        <td></td>
    </tr>
    <tr>
        <td>High-school graduation month-year</td>
        <td></td>
    </tr>
    <tr>
        <td>Recommending this school to other students</td>
        <td></td>
    </tr>
</table>