<!-- AUTHOR: Nupur Shah
    Student details page
-->
<table class="cs-container cs-table cs-content">
    <caption class="cs-container cap-heading">Student Survey Records</caption>
    <tr>
        <td>Student ID</td>
        <!-- <td>{{studentDetails.stdid}}</td> -->
    </tr>
    <tr>
        <td>Name</td>
        <!-- <td>{{studentDetails.username}}</td> -->
    </tr>
    <tr>
        <td>Street Address</td>
        <!-- <td>{{studentDetails.street}}</td> -->
    </tr>
    <tr>
        <td>City</td>
        <!-- <td>{{studentDetails.city}}</td> -->
    </tr>
    <tr>
        <td>State</td>
        <!-- <td>{{studentDetails.state}}</td> -->
    </tr>
    <tr>
        <td>Zip</td>
        <!-- <td>{{studentDetails.zip}}</td> -->
    </tr>
    <tr>
        <td>Telephone</td>
        <!-- <td>{{studentDetails.telephone}}</td> -->
    </tr>
    <tr>
        <td>Email</td>
        <!-- <td>{{studentDetails.email}}</td> -->
    </tr>
    <tr>
        <td>URL</td>
        <!-- <td>{{studentDetails.url}}</td> -->
    </tr>		
    <tr>
        <td>Interested in the university because</td>
        <!-- <td>{{studentDetails.intinuni}}</td> -->
    </tr>
    <tr>
        <td>Liked about campus</td>
        <!-- <td>{{studentDetails.likedabtcampus}}</td> -->
    </tr>
    <tr>
        <td>Survey Date</td>
        <!-- <td>{{studentDetails.sdate}}</td> -->
    </tr>
    <tr>
        <td>Additional Comments</td>
        <!-- <td>{{studentDetails.comments}}</td> -->
    </tr>
    <tr>
        <td>High-school graduation month-year</td>
        <!-- <td>{{studentDetails.highschlgradmonth}} - {{studentDetails.highschlgradyear}}</td> -->
    </tr>
    <tr>
        <td>Recommending this school to other students</td>
        <!-- <td>{{studentDetails.recos}}</td> -->
    </tr>
</table>